<nav class="navbar sticky-top navbar-dark bg-dark p-2 pe-2">
    <a class="logo" routerLink="/">
        <img class="logo me-2 p-0" src="/assets/small_logo.png">
        <span class="title text-ghost-grey">SNOMED CT Angular Template</span>
    </a>

<!--    <ul *ngIf="projects; else loading" class="dropdown-nav me-auto my-2">-->
<!--        <li class="nav-item dropdown">-->
<!--            <a class="nav-link px-3 rounded dropdown-toggle text-end" id="branchDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                {{activeBranch?.branchPath}}-->
<!--            </a>-->
<!--            <div class="dropdown-menu" aria-labelledby="branchDropdown">-->
<!--                <ng-container *ngFor="let branch of branches | alphabetical:'branchPath' | branch:projects">-->
<!--                    <a class="dropdown-item ps-3" [routerLink]="[branch.branchPath]" (click)="setBranch(branch)">{{branch?.branchPath}}</a>-->
<!--                </ng-container>-->
<!--            </div>-->
<!--        </li>-->
<!--        <li *ngIf="activeBranch && activeProject" class="ms-3 text-ghost-grey">/</li>-->
<!--        <li *ngIf="activeBranch" class="ms-3 nav-item dropdown">-->
<!--            <a class="nav-link px-3 rounded dropdown-toggle text-end" id="projectDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [class.add]="!activeProject?.key">-->
<!--                {{activeProject?.key ? activeProject.key : 'PROJECT'}}-->
<!--            </a>-->
<!--            <div class="dropdown-menu" aria-labelledby="projectDropdown">-->
<!--                <ng-container *ngFor="let project of projects | alphabetical:'key' | project:activeBranch">-->
<!--                    <a class="dropdown-item ps-3" [routerLink]="[activeBranch.branchPath, project.key]" (click)="setProject(project)">{{project?.key}}</a>-->
<!--                </ng-container>-->
<!--                <a *ngIf="activeProject" class="dropdown-item ps-3" (click)="noProject()">-->
<!--                    <button class="btn py-0 m-0 w-100 text-white bg-mandy" [routerLink]="[activeBranch.branchPath]">REMOVE</button>-->
<!--                </a>-->
<!--            </div>-->
<!--        </li>-->
<!--        <li *ngIf="activeProject && activeTask" class="ms-3 text-ghost-grey">/</li>-->
<!--        <li *ngIf="activeProject" class="ms-3 nav-item dropdown">-->
<!--            <a class="nav-link px-3 rounded dropdown-toggle text-end" id="taskDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [class.add]="!activeTask?.key">-->
<!--                {{activeTask?.key ? activeTask.key : 'TASK'}}-->
<!--            </a>-->
<!--            <div class="dropdown-menu" aria-labelledby="taskDropdown">-->
<!--                <ng-container *ngIf="tasks.length">-->
<!--                    <ng-container *ngFor="let task of tasks | alphabetical:'key'">-->
<!--                        <a class="dropdown-item ps-3" [routerLink]="[activeBranch.branchPath, activeProject.key, task.key]" (click)="setTask(task)">{{task?.key}}</a>-->
<!--                    </ng-container>-->
<!--                    <a *ngIf="activeTask" class="dropdown-item ps-3" (click)="noTask()">-->
<!--                        <button class="btn py-0 m-0 w-100 text-white bg-mandy" [routerLink]="[activeBranch.branchPath, activeProject.key]">REMOVE</button>-->
<!--                    </a>-->
<!--                </ng-container>-->
<!--                <ng-container *ngIf="!tasks.length">-->
<!--                    <a class="dropdown-item ps-3">No Tasks Found</a>-->
<!--                </ng-container>-->
<!--            </div>-->
<!--        </li>-->
<!--    </ul>-->

<!--    <ng-template #loading>-->
<!--        <ul class="dropdown-nav me-auto my-2">-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link px-3 rounded loading">-->
<!--                    <div class="spinner-border" style="font-size: 1rem" role="status">-->
<!--                        <span class="sr-only">Loading...</span>-->
<!--                    </div>-->
<!--                </a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </ng-template>-->

<!--    <ng-container [ngSwitch]="environment">-->
<!--        <div *ngSwitchCase="'local'" class="banner text-white local"></div>-->
<!--        <div *ngSwitchCase="'dev'" class="banner text-white dev"></div>-->
<!--        <div *ngSwitchCase="'uat'" class="banner text-white uat"></div>-->
<!--        <div *ngSwitchCase="'training'" class="banner text-white training"></div>-->
<!--        <div *ngSwitchDefault class="banner text-white d-none"></div>-->
<!--    </ng-container>-->

<!--    <div *ngIf="user" class="float-right mx-3">-->
<!--        <div class="logout d-inline-block m-2" (click)="logout()">-->
<!--            <span class="px-2 text-ghost-grey">Logout</span>-->
<!--        </div>-->
<!--        <div class="user d-inline-block m-2">-->
<!--            <span class="px-2 text-ghost-grey">{{user.firstName}} {{user.lastName}}</span>-->
<!--            <img class="rounded-circle mx-3" src="https://jira.ihtsdotools.org/secure/useravatar?ownerId={{user.login}}">-->
<!--        </div>-->
<!--    </div>-->
</nav>
