@import '~src/variables.scss';

footer.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4rem; /* Set the fixed height of the footer here */
    line-height: 4rem; /* Vertically center the text there */
    overflow-y: hidden;
    white-space: nowrap;

    a {
        font-weight: 300;
        font-size: 1.2rem;
        color: $alto-white;

        &:hover {
            color: $cerulean;
            text-decoration: none;
        }
    }
}
