@import 'src/variables.scss';

nav#sidebar {
    position: fixed;
    width: 32rem;
    height: calc(100vh - 90px);
    background: $alto-white;
    overflow: auto;

    div.header {
        h3 {
            border-bottom: 1px $ghost-grey solid;
            height: 4rem;

            span {
                font-size: 1.2rem;
                color: $river-bed;
            }
        }

        input.searchbar {
            border: none;
            font-size: 1.4rem;
            background-color: lighten($alto-white, 10%);
            width: 100%;
            border-bottom: 1px $ghost-grey solid;
            color: $bootstrap-black;
            cursor: text;
        }
    }

    a.chapter {
        cursor: pointer;
        border-bottom: 1px $ghost-grey solid;
        background-color: $alto-white;
        color: $river-bed;

        &:hover {
            background-color: darken($alto-white, 5%);
        }
    }

    div.concept {
        cursor: pointer;
        border-bottom: 1px $ghost-grey solid;
        background-color: $alto-white;
        color: $river-bed;

        &:hover {
            background-color: darken($alto-white, 5%);
        }
    }
}
