# Workflow name
name: Build and Publish Storybook to GitHub Pages

on:
    # Event for the workflow to run on
    push:
        branches:
            - 'master' # Replace with the branch you want to deploy from

permissions:
    contents: read
    pages: write
    id-token: write

# List of jobs
jobs:
    deploy:
        runs-on: ubuntu-latest
        # Job steps
        steps:
            - id: build-publish
              uses: ihtsdo/ihtsdo.github.io@v0.1.1
